* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #f4f6fb;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  padding: 10px 3px;
}

/* MAIN */
.admin-content {
  flex: 1; 
  padding: 24px 32px;
  box-sizing: border-box;
  min-height: calc(100vh - 64px);
  overflow-y: auto;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .graphs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}