<div class="home-container">
  <!-- Kategoriler -->
  <app-category-component></app-category-component>

  <!-- HERO / BANNER -->
  <section class="hero">
    <h1>Lezzetli Tariflere Hoş Geldin</h1>
    <p>Binlerce yemek tarifi arasından dilediğini bul, kaydet ve dene.</p>

    <div class="search-box">
      <input type="text" placeholder="Tarif veya malzeme ara...">
      <button>🔍 Ara</button>
    </div>
  </section>

  <!-- POPÜLER TARİFLER -->

  <section class="popular-section">
  <div class="section-header">
    <h2>Popüler Tarifler</h2>
    <p>En çok sevilen ve denenen tarifler</p>
  </div>

  <div class="recipe-grid">
    @for (recipe of popularRecipes; track recipe.id) {
      <div class="recipe-card">
        <div class="image-wrapper">
          <!-- <img [src]="recipe.imageUrl" [alt]="recipe.name" /> -->
          <!-- <span class="category-badge">{{ recipe.categoryName }}</span> -->
        </div>

        <div class="card-content">
          <h3>{{ recipe.name }}</h3>
          <p>{{ recipe.description }}</p>

          <div class="card-footer">
            <div class="time-box">
              <div class="time-item">
                ⏱ Hazırlama Süresi: {{ recipe.preparationTime }} dk
              </div>
              <div class="time-item">
                🔥 Pişirme Süresi: {{ recipe.cookingTime }} dk
              </div>
            </div>
            <div class="rating-box">
              ⭐ <!--  {{ recipe.rating }} -->
            </div>
          </div>
        
        </div>
      </div>
    }
  </div>
  </section>

</div>

