<div class="category-card">
  <table>
    <thead>
      <tr>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th class="actions">İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let category of categories">
        <ng-template
          [ngTemplateOutlet]="rowTemplate"
          [ngTemplateOutletContext]="{ $implicit: category, level: 0 }">
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #rowTemplate let-category let-level="level">
  <tr class="row">
    <td>
      <div class="name-cell" [style.paddingLeft.px]="level * 28">
        <span
          *ngIf="category.children?.length"
          class="toggle"
          [class.open]="isExpanded(category.id)"
          (click)="toggle(category.id)">
          ▶
        </span>
        <span class="dot" *ngIf="!category.children?.length"></span>
        {{ category.name }}
      </div>
    </td>

    <td class="desc">{{ category.description }}</td>

    <td class="actions">
      <!-- <button class="btn ghost" (click)="edit(category)">Düzenle</button> -->
      <button class="btn danger" (click)="delete(category)">Sil</button>
    </td>
  </tr>

  <ng-container *ngIf="isExpanded(category.id)">
    <ng-container *ngFor="let child of category.children">
      <ng-template
        [ngTemplateOutlet]="rowTemplate"
        [ngTemplateOutletContext]="{ $implicit: child, level: level + 1 }">
      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>
