/* SIDEBAR */
.sidebar {
    width: 260px;
    background: linear-gradient(180deg, #020617 0%, #1b36aa 45%, #020617 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.sidebar-header {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.03);
}

/* MENU */
.sidebar-menu {
    padding: 16px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    margin-bottom: 6px;
    border-radius: 10px;
    /* NAVBAR AÇIK MAVİ TON */
    color: #dbe3ff;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.25s ease;
}

/* HOVER */
.sidebar-menu a:hover {
    background: linear-gradient(90deg,
            rgba(114, 134, 224, 0.25),
            rgba(27, 54, 170, 0.35));
    color: #ffffff;
}

/* ACTIVE */
.sidebar-menu a.active {
    background: linear-gradient(90deg,
            #7286e0,
            #1b36aa);
    color: #ffffff;
    box-shadow: 0 6px 18px rgba(27, 54, 170, 0.45);
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}